@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<NGEN_CRM.Models.AgentDetailReport>

<div class="content">
    <div class="animated fadeIn">
        <form class="form-validate form-horizontal" action="Create" method="post">
            
            <!-- /Widgets
            <div class="clearfix"></div>
            <!-- Call Detail Report -->
            <div class="orders" id="DivCallRecording">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">

                            <div class="card-header">
                                <strong>AGENT DETAIL REPORT</strong>

                                <label for="hf-password" class=" form-control-label" style="margin-left:660px">Export To:</label>&nbsp;&nbsp;&nbsp;
                                <button type="button" id="btncsv1" name="btn" value="CSV" class="btn btn-secondary btn-sm" onclick="exporttocsv()">CSV</button>&nbsp;
                                <button type="submit" id="btnPDF1" name="btn" value="PDF" class="btn btn-secondary btn-sm">PDF</button>&nbsp;
                                @*<button type="submit" id="btnSubmit" value="Excel" name="btn" class="btn btn-secondary btn-sm">EXCEL</button>&nbsp;*@

                            </div>

                            <div class="card-body  card-block">

                                <div class="table-stats order-table ov-h" id="Grid">
                                    <table class="table" id="tableCallRecording">
                                        <thead>
                                            <tr>
                                                @*<th>Agent Name</th>
                                                <th>Agent ID</th>*@
                                                <th>Extension</th>
                                                <th>Call Start Time</th>
                                                <th>Call End Time</th>
                                                <th>Duration</th>
                                                <th>Called Number</th>
                                                <th>Call Routed</th>
                                                @*<th>Talk Time</th>*@
                                                <th>Call Type</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @foreach (var report in Model.ToList())
                                            {
                                                <tr>
                                                    @*<td>@Html.DisplayFor(modelItem => report.Date)</td>*@
                                                    <td>@Html.DisplayFor(modelItem => report.Extension)</td>
                                                    <td>@Html.DisplayFor(modelItem => report.CallStartTime)</td>
                                                    <td>@Html.DisplayFor(modelItem => report.CallEndTime)</td>
                                                    <td>@Html.DisplayFor(modelItem => report.Duration)</td>
                                                    <td>@Html.DisplayFor(modelItem => report.CalledNumber)</td>
                                                    <td>@Html.DisplayFor(modelItem => report.CallRoutedCSQs)</td>
                                                    @*<td>@Html.DisplayFor(modelItem => report.TalkTime)</td>*@
                                                    <td>@Html.DisplayFor(modelItem => report.CallType)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>  <!-- /.col-lg-8 -->


                </div>
            </div>
            <!-- /.orders -->



            <audio hidden id="audioPlayer" controls></audio>

        </form>
    </div>
</div><!-- .animated -->

<div class="clearfix"></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">



    //$(function () {
    //    $("#ddlDuration").change(function () {

    //        if ($(this).val() == "5") {
    //            $("#Div1").show();
    //        } else {
    //            $("#Div1").hide();
    //        }
    //    });
    //});

    $('#btnsubmit').click(function () {
        var fromdate = $('#fromdate').val();
        var todate = $('#todate').val();
        if (fromdate == null || todate == null) {
            alert('Select From Date and To Date');
            return false;
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCallDetailByFromDateToDate", "IBOBExtensionACD")",
            data: { fromdate: fromdate, todate: todate},
            success: function (response) {
                console.log(response);
                $('#tbody').html('');
                if (response != null) {
                    $.each(response, function (k, v) {

                        $('#tbody').append(`<tr>

                                            <td>${v.ExtensionNumber}</td>
                                            <td>${v.TotalCalls}</td>
                                            <td>${v.TotalInboundCalls}</td>
                                            <td>${v.TotalOutboundCalls}</td>
                                            <td>${v.InboundACD_Calls}</td>
                                            <td>${v.InboundExtension_Calls}</td>
                                            <td>${v.ACDAvgTalktime}</td>
                                            <td>${v.ExtensionAvgTalktime}</td>
                                            <td>${v.AvgTalktime}</td>
                                            <td>${v.TotalTalktime}</td>
                                            <td>${v.OutboundExternalCalls}</td>
                                            <td>${v.OutboundExtensionCalls}</td>
                                            <td>${v.OutboundAvgTalktime}</td>
                                            <td>${v.TotalOutboundTalktime}</td>

                                            </tr>`); /*<td>${v.Date}</td>*/
                    });
                }
            }
        })

    })



    $(function () {
        $("#ddlAgent").change(function () {
            if ($(this).val() != null) {
                $("#ddlQueue").multiselect("disable");
            } else {
                $("#ddlQueue").multiselect("enable");

            }
        });
    });
    $(function () {
        $("#ddlQueue").change(function () {
            if ($(this).val() != null) {
                /*$("#DivIVRMissed").hide();*/
                $("#ddlAgent").multiselect("disable");
            }
            else {
                /*$("#DivIVRMissed").hide();*/
                $("#ddlAgent").multiselect("enable");
            }

        });
    });

</script>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true
            });
        });



        $(function () {

            var arNames5 = $('#ddlQueue').val()
            //alert(arNames5)
            if (arNames5 != null) {
                if (arNames5 == "IVR MissedCall") {
                    $("#DivIVRMissed").show();
                    $("#DivDetails").hide();
                    $("#DivSummary").hide();
                    $("#DivMissed").hide();
                    $("#DivAgent").hide();
                    $("#DivQueue").hide();
                }
                //$("#ddlAgent").multiselect("disable");

            } else {

                //$("#ddlAgent").multiselect("enable");

            }

        });

        //var arNames = $('#ddlDuration').val()
        ////var reportName = $('#ddlReport').val()
        //if (arNames == "5") {
        //    $("#Div1").show();
        //} else {
        //    $("#Div1").hide();
        //}

        //if (reportName == "1") {

        //    $("#DivSummary").show();
        //    document.getElementById("ddlDirection").disabled = true;
        //    $("#ddlAgent").multiselect("disable");
        //    $("#ddlQueue").multiselect("disable");
        //}
        //else if (reportName == "2") {
        //    $("#DivDetails").show();
        //    document.getElementById("ddlDirection").disabled = false;
        //    $("#ddlAgent").multiselect("enable");
        //}
        //else if (reportName == "4") {
        //    $("#DivMissed").show();
        //    document.getElementById("ddlDirection").disabled = true;
        //    $("#ddlAgent").multiselect("enable");
        //}
        //else if (reportName == "3") {
        //    $("#DivAgent").show();
        //    document.getElementById("ddlDirection").disabled = true;
        //    $("#ddlAgent").multiselect("enable");
        //    $("#ddlQueue").multiselect("disable");
        //}
        //else if (reportName == "5") {
        //    $("#DivQueue").show();
        //    document.getElementById("ddlDirection").disabled = true;
        //    $("#ddlAgent").multiselect("disable");
        //    $("#ddlQueue").multiselect("enable");
        //}
    }
    )
</script>
<script type="text/javascript">

    $(function () {
        $("#btnPDF1").click(function () {
            $("input[name='GridHtml']").val($("#DivCallRecording").html());
        });
    });
    //$(function () {
    //    $("#btnPDF2").click(function () {
    //        $("input[name='GridHtml']").val($("#DivDetails").html());
    //    });
    //});
    //$(function () {
    //    $("#btnPDF3").click(function () {
    //        $("input[name='GridHtml']").val($("#DivMissed").html());
    //    });
    //});
    //$(function () {
    //    $("#btnPDF4").click(function () {

    //        $("input[name='GridHtml']").val($("#DivAgent").html());
    //    });
    //});
    //$(function () {
    //    $("#btnPDF5").click(function () {
    //        $("input[name='GridHtml']").val($("#DivQueue").html());
    //    });
    //});
    //$(function () {
    //    $("#btnPDF6").click(function () {
    //        $("input[name='GridHtml']").val($("#DivIVRMissed").html());
    //    });
    //});
</script>
<script src="../Scripts/jquery.tabletoCSV.js"></script>

<script type="text/javascript">
    function exporttocsv() {

        $("#tableCallRecording").tableToCSV({
            filename: 'ACD_Extn_IBOB_Report'
        });
    }
    //function exporttocsv2() {

    //    $("#tableDetails").tableToCSV({
    //        filename: 'CallDetailsReport'
    //    });
    //}
    //function exporttocsv3() {

    //    $("#tableMissed").tableToCSV({
    //        filename: 'MissedCallReport'
    //    });
    //}
    //function exporttocsv4() {

    //    $("#tableAgent").tableToCSV({
    //        filename: 'AgentCallReport'
    //    });
    //}
    //function exporttocsv5() {

    //    $("#tableQueue").tableToCSV({
    //        filename: 'QueueCallReport'
    //    });
    //}
    //function exporttocsv6() {

    //    $("#tableIVR").tableToCSV({
    //        filename: 'IVRMissedCallReport'
    //    });
    //}
</script>