@model NGEN_CRM.Models.Agent_Queue
<link rel="stylesheet" href="../assets/css/lib/datatable/dataTables.bootstrap.min.css">
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Agent_Queue Registration</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Home</a></li>
                            <li class="active">Agent_Queue Registration</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="row">
                <div class="col-lg-9" style="padding:30px">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="form">
                                <form class="form-validate form-horizontal" action="" method="post">

                                    <div>
                                        <div class="col-lg-12">

                                            <div class="card-header">
                                                <strong>Create Agent_Queue</strong>
                                            </div>
                                            <div class="card-body" style="float:none">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Name</label></div>
                                                    <div class="col-12 col-md-6"><input id="hf-email" name="Name" value="@Model.Name" required class="form-control"></div>
                                                    @Html.Hidden("isEdit", @Model.isEdit)
                                                    @Html.Hidden("Id", @Model.Id)

                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Role</label></div>
                                                    <div class="col-12 col-md-6">
                                                        @Html.DropDownList("Type", new SelectList(ViewBag.Types, "Value", "Text"), "--Select--", new { @class = "form-control m-bot15", @required = true, @id = "RomID" })
                                                        @*@Html.DropDownListFor(model => model.Type, (SelectList)ViewBag.Types, "--Select--", new { @class = "form-control m-bot15", @required = true, @id = "RomID" })*@

                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Code</label></div>
                                                    <div class="col-12 col-md-6"><input id="txtCode" name="Code" value="@Model.Code" class="form-control" required onkeydown="if (event.keyCode == 13) return false" onchange="CheckUsercode()"></div>
                                                    <span id="dis1" style="color: red; display: none; margin-left:242px">* Code already exist. Please try another</span>

                                                </div>

                                                <div class="row form-group">
                                                    <div class="col col-md-10">

                                                        <button id="submit" type="reset" class="btn btn-default btn-sm" style="margin-right:6px;float:right" onclick="location.href='@Url.Action("Contact", "Home")'"> Cancel</button>
                                                        @if (@Model.isEdit)
                                                        {
                                                            @Html.ActionLink("Delete", "Delete", new { AgentID = @Model.Id }, new { onclick = "return confirm('Are you sure you want to delete this Agent_Queue?');", @class = "btn btn-danger btn-sm", @style= "float:right;margin-right:6px" })
                                                        }
                                                        <button id="submit" type="submit" class="btn btn-primary btn-sm" style="margin-right:6px;float:right"> Submit</button>
                                                    </div>
                                                    </div>
                                                </div>


                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3" style="padding:30px">
                    <section class="panel">
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                        @*<table class="table table-striped table-advance table-hover" id="countTable">*@
                                        <thead>
                                            <tr>
                                                <td><label for="exampleInputEmail1"><i>Name</i></label></td>
                                                @*<td><label for="exampleInputEmail1"><i>Code</i></label></td>*@
                                                <td><label for="exampleInputEmail1"><i>Action</i></label></td>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.Agentlist)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                @*<td>@Html.DisplayFor(modelItem => item.Code)</td>*@
                                                <td>
                                                    <div class="btn-group" title="Edit">
                                                        <a class="" href="/Agent_QueueCreation/Edit?AgentID=@item.Id"><i class="fa fa-pencil-square-o"></i></a>
                                                     
                                                    </div>
                                                  
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <!-- /Widgets -->
        </div>
        <div class="clearfix"></div>


    </div>
</div><!-- .animated -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="../assets/js/lib/data-table/datatables.min.js"></script>
<script src="../assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
@*<script src="../assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="../assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="../assets/js/lib/data-table/jszip.min.js"></script>
    <script src="../assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="../assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="../assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="../assets/js/lib/data-table/buttons.colVis.min.js"></script>*@
@*<script src="../assets/js/init/datatables-init.js"></script>*@


<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table').DataTable(
            {


                "oLanguage": {
                    'sSearch': '', 'sSearchPlaceholder': "Search...",
                    sLengthMenu: "_MENU_",

                },
            });

    });
</script>
<script>
    function CheckUsercode() {

        var name = $("#txtCode").val(); //Value entered in the text box

        //jQuery AJAX Post request
        $.post("/Agent_QueueCreation/isCodeExist", { Chkcode: name },
            function (data) {
                if (data == "True") {
                    $("#dis1").hide();
                    $("#submit").prop("disabled", false);
                }
                else {
                    $("#dis1").show();
                    $("#txtCode").focus();
                    $("#submit").prop("disabled", true);
                }
            });
    }
</script>

